numpy
pandas
scikit-learn
matplotlib
# seaborn
# jupyter
# ipykernel
opencv-python
imbalanced-learn
python-dotenv
xgboost
openpyxl
imblearn
tensorflow[and-cuda]
pygame
gymnasium
yfinance
stable-baselines3